{% extends 'blog/base.html' %}
{% block content %}
     <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <h6 >About this page</h6>
            </div>
            <h4 class="article-title">** Try Blog **</h4>
            <p class="article-content">Hi, I am Bicky Paul and this is a Secure WebApp based on Django Framework.</p>
            <p class="article-content">The sole purpose behind developing this WebApp was to further my coding skills in Python/Django.</p>
            <p class="article-content">In this WebApp a user can read blogs and post blogs as well. To post a blog a user has to sign up first.</p> 
            <p class="article-content">Once the user has registered they have to login and they can post a blog and update as well.</p>
            <p class="article-content">Also a user can change their profile pictures, update their username and email id.</p>
            <p class="article-content">You must have read that I have called it as secure Webapp, it's because a user can't edit or delete other user's blog, they can only read their blogs as it is supposed to be isn't it??</p>
            <p class="article-content">One more added features in this webapp is you can reset your password, by clicking on forgot password, once you click on it, this will ask for to enter your registered email id to send a password reset link to confirm that it's you to your email id. You will have to click that password reset link and reset your password.</p>
            </div>
        </article>
{% endblock %}